:root {
  --direction: '';
}

body {
  background-color: rgb(49, 189, 207);
}

svg,
path {
  pointer-events: none;
}

.blocks {
  width: 100px;
  height: 100px;
  line-break: auto;
  border: 1px solid black;
  padding: 5px;
}

.end {
  background-color: cornflowerblue;
}

.button {
  cursor: pointer;
}

.upBtn,
.downBtn,
.leftBtn,
.rightBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
}

.upBtn {
  align-items: flex-start;
  grid-area: upBtn;
}

.downBtn {
  align-items: flex-end;
  grid-area: downBtn;
}

.leftBtn {
  justify-content: flex-start;
  grid-area: leftBtn;
}

.rightBtn {
  justify-content: flex-end;
  grid-area: rightBtn;
}

.hide {
  visibility: hidden;
}

@media (max-width: 1024px) {}

@media (max-width: 850px) {
  .blocks {
    height: 80px;
    width: 80px;
  }

  svg {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 500px) {
  .blocks {
    height: 30px;
    width: 30px;
  }

  svg {
    width: 10px;
    height: 10px;
  }
}